div.orbit
    ul.orbit-container
        overflow: hidden
    div.title
        width: 100%
        margin-bottom: 0
        padding: 1rem
        background-color: rgba(10,10,10,.5)
        color: #fefefe        
    div.slide
        padding-left: 3rem
        padding-right: 3rem
        overflow: hidden
    li.orbit-slide
        border: 1px solid #ddd
    .orbit-bullets
        margin-top: -2.0rem
        text-align: right
        margin-right: 2rem
    figure
        overflow-y: hidden
