div.experiences
    border-bottom: 1px solid color-grey-5
    padding-bottom: 2rem
    .title
        font-size: 2rem
        font-weight: bold
    .edit
        a
           font-size: 3rem
    .date
    .duration
        color: color-grey
    .tags
        font-size: 1rem
        color: black
        a
            color: black
        a:hover
            color: white
        .tag
            background-color: $secondary_color
            padding-left: 0.3rem
            padding-right: 0.3rem
            padding-top: 0.2rem
            padding-bottom: 0.2rem
            border-radius(4px)
               
    .description
        margin-top: 1rem
        margin-bottom: 2rem
    .images
        text-align: center
    a
        font-size: 1.1rem
    .pagination
    .toolbar
        margin-top: 2rem
    .filter
        font-weight: bold
        margin-bottom: 0.5rem