form
    input[type="submit"]
        display: inline-block
        vertical-align: middle
        margin: 0 0 1rem 0
        font-family: inherit
        padding: 0.85em 1em
        -webkit-appearance: none
        border: 1px solid transparent
        border-radius: 3px
        transition: background-color 0.25s ease-out, color 0.25s ease-out
        font-size: 0.9rem
        line-height: 1
        text-align: center
        cursor: pointer
        background-color: primary_color
        color: #fefefe


form.cms-plugin
    ul
        list-style-type: none
    label
        display: inline

    div.checkbox
        label
            display: block
            margin-left: 1.2rem
            input
                margin-bottom: 0
             
    label + input[type=checkbox]
        display: block
        margin-left: 1.2rem

    button
        display: block
        
    li
        input
            margin-bottom: 0

    fieldset
        border: 1px solid sylver
        padding: 10px
        legend
            padding-left: .7rem
            padding-right: .7rem