/*
CSS pour Django-CMS
Complement à FOUNDATION

Les couleurs de bases doivent être reportées dans Fountdation
via la génération d'un css custom
*/

@require "mixins.styl"

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Ubuntu+Mono');

html.django-site
    visibility:hidden

body
    // font-family: 'Open Sans', sans-serif
    font-family: 'Roboto', sans-serif;
    color: text_color
    margin: 10px 0 10px 0


// @media (max-width: 640px)
//     body
//         margin-left: 10px
//         margin-right: 10px

span.fine
    letter-spacing: -0.2em


svg.svg-inline--fa
    padding-right: 0.5rem

div.no-margin-svg
    svg.svg-inline--fa
        padding-right: 0

// POPUP
div.popup-alerts
    padding: 15px 15px 0px 15px
    div.title
        color: #900
        font-size: 24px
        font-weight: bold
    h1
    h2
    h3
    h4
        color: #900

// MENU
div.navigation
    margin-top 0.5rem
    margin-bottom 0.5rem
    border-bottom 1px solid line_color

    ul.menu
        li.selected
            font-weight: bold
            ul.submenu
                font-weight: normal

        

// BREADCRUMB
ul.breadcrumbs
    padding-left: 1rem
    border-bottom 1px solid line_color
    padding-bottom 0.5rem
    margin-bottom 0.5rem
    a
        color: primary_color
    li
        span.active
            color: #aaa


// CODE PRESENTATION
code
kbd
pre
samp
pre
    background-color:  rgb(238, 238, 238)
    overflow: auto
    font-family: 'Ubuntu Mono', monospace
    font-size: 1em
    margin: 10px 10px 30px 20px
    padding: 10px 10px 10px 10px
    background: #f2f6ff
    border-style: dashed
    border-color: #aaaaff
    border-width: 1px



// HEADINGS
h1
h2
h3
h4
h5
h6
    font-family: 'Lato', sans-serif
    overflow-wrap: break-word

    .has-tip
        border-bottom: none

h1
    color: secondary_color
    text-transform: uppercase
    font-weight: bold
h2
h3
h4
h5
h6
    color: primary_color


// IMAGES
img.right
    float: right
    padding-left: 0.5rem

img.left
    float: left
    padding-right: 0.5rem

img.center
    display: block
    align: center
    margin-left: auto
    margin-right: auto

// IMAGES' LEGENDS
img.right + span.filer_image_info
    display: none
    float: right

img.left + span.filer_image_info
    display: none
    float: left

img.center + span.filer_image_info
    display: block
    text-align: center

hr
    border-top: 0
    border-left: 0
    border-right: 0
    border-bottom: 1px solid #eee

div.hr-before
    margin-top: 1rem
    border-top: 1px solid line_color

div.hr-after
    margin-bottom: 1rem
    border-bottom: 1px solid line_color

div.vertical-spacer
    height: 1rem

footer
    margin-top 1.5rem
    border-top 1px solid line_color


// TABS
li.tabs-title
    a
        font-size: 1.2em

div.tabs-panel
    overflow-x: auto

//.cell > .tabs-content
//        border: 1px solid #e6e6e6

// ACCORDIONS

div.accordion-content
    overflow-x: auto

ul.accordion
    li.accordion-item
        a.accordion-title
            font-size: 1.2em


// SEARCH PAGE
div.plugin-search
    form.frm-search
        ol
            li
                list-style-type: none

    div.search-results
        ul
            list-style: none
            padding: 0
            li
                padding-left: 1.3em
                
                h3
                    display: inline
        
            li:before
                content: "\f18e"
                font-family: FontAwesome
                font: normal normal normal 34px/1 FontAwesome
                display: inline-block
                margin-left: -1.3em
                width: 1.3em
                color: primary_color


// fix foundation bug for dropdown
div.dropdown-pane
    z-index: 11

// CKEDITOR
body.cke_editable
body.cke_editable_themed
    margin: 10px 10px 10px 10px


/* Should prevent flash display */
.no-js .top-bar
    display: none


@media screen and (min-width: 40em)
    .no-js .top-bar
        display: block


   .no-js .title-bar
       display: none


div.cookielaw
    p
        font-size: 0.9rem
        color: text_color
        a
            font-size: 0.9rem
            margin-top: 0.5rem
            margin-bottom: 0
    h6
        font-size: 1rem
        font-weight: bold