.plugin-newsletters-list
    ul
        list-style: none;
        padding: 0;
    li
        padding-left: 2rem;
    li:before
        content: "\f1ea"; /* fal fa-newspaper */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -2rem;
        width: 2rem;
