div.tweet
    ul
        li
            list-style: none
            text-indent: -1.3rem
            div.time
                padding-left: 1.3rem
                font-style: italic
                font-size: 0.8rem
                color: gray
