div.contacts-list
    margin-bottom: 80px   


div.contact
    margin-bottom: 80px
    
    div.last-modification
        color: lightgrey
        text-align: right
        margin-bottom: 20px
    

    table.organizations
        th
            // display: none
        
        th
        td
            padding-left: 10px
            padding-right: 10px
        

        margin-bottom: 20px
    



div.contact-merge
    font-size: 13px

    input
    select
    textarea
        font-size: 13px
    

    table.contact-merge
        margin-bottom: 30px

        div.form-control
            display: inline-flex
        

        label
            width: 70px
            display: inline-flex
        
        div.controls
            width: 200px
            display: inline-flex
        

        #hint_id_tags
            display: none
        

        th
        td
            padding: 0 10px 5px 10px
            border-left: 1px solid #eceeef
            border-right: 1px solid #eceeef
            
            .form-group
                margin-bottom: 0
            
            label
                margin-bottom: 0
            
        

        th
            label
                font-weight: bold
                font-size: 15px
            
        
        td:nth-of-type(2n+1)
        th:nth-of-type(2n+1)
            background-color: #f9f9f9
        
        
        td.target
        th.target
            background-color: light_blue
        

        tr.ml
        tr.moo
        tr.target
            label
                width: 100%
            
        

        .merge-not-selected
            opacity: 0.4

        
    



div.cti
    ul
        list-style-type: none
        li
            display: inline
        
        li + li
            margin-left: 20px
        
    

