div.contacts-list
    margin-bottom: 80px   

div.list 
    margin-bottom: 80px
    
    div.last-modification
        color: lightgrey
        text-align: right
        margin-bottom: 20px


    table.organizations
        th
            display: none
       
        th, td
            padding-left: 10px
            padding-right: 10px
       

        margin-bottom: 20px

