.webix_unit_header
    background-color: light_grey
    color: bright_blue
    font-size: 20px
    padding-top: 10px
    padding-bottom: 10px


button.webixtype_Form:hover
    color: #fff
    background-color: #025aa5
    border-color: #01549b
    text-decoration: none


button.webixtype_Form
    color: #fff
    background-color: #0275d8
    border-color: #0275d8
    display: inline-block
    padding: .375rem 1rem
    font-size: 12px
    font-weight: normal
    line-height: 1.5
    text-align: center
    white-space: nowrap
    vertical-align: middle
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    border: 1px solid transparent
    border-radius: .25rem



