{% load i18n cms_tags staticfiles %}

<div id="CookielawBanner">
  <div class="container">
    <div class="cookielaw callout clearfix warning">
      <h6>{% trans "COOKIE_INFO_HEADER" %}</h6>
      <p>
        {% trans "COOKIE_INFO_PARA" %}
        
        <a class="button float-right" href="javascript:Cookielaw.createCookielawCookie();">{% trans "COOKIE_INFO_OK" %}</a>
      </p>
    </div>
  </div>
</div>

