form
    input[type="submit"]
        display: inline-block
        vertical-align: middle
        margin: 0 0 1rem 0
        font-family: inherit
        padding: 0.85em 1em
        -webkit-appearance: none
        border: 1px solid transparent
        border-radius: 3px
        transition: background-color 0.25s ease-out, color 0.25s ease-out
        font-size: 0.9rem
        line-height: 1
        text-align: center
        cursor: pointer
        background-color: #0275D8
        color: #fefefe
    
    p.help-text
        margin-top: 0

    div.tagwidget
        border: 1px solid #cacaca
        border-radius: 3px
        background-color: #fefefe
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1)
        transition: box-shadow 0.5s, border-color 0.25s ease-in-out
        box-sizing: border-box;
        display: block;