.top-bar
.top-bar ul
header
    background-color: #373A3C
    a
        color: #bbb

    .reminder-callout
        color: #ff8


div.container
    margin-top: 1rem

h2
h3
        margin-top: 30px


i.icon-space-before
        margin-left: 20px

i.icon-space-after
        margin-right: 10px


span.endless_page_current
a.endless_page_link
        font-size: 25px


div.form-group
.form-group
        clear: both



table
        font-size: 13px
        margin-top: 20px
        th
            text-align: left


table.table-inline
        tbody
                background: none !important
                border: none !important

.tag
        padding: 2px 10px 2px 10px
        border-radius: 12px
        border: 1px solid #acc3ec
        color: #666666
        background-color: #f4f4f4
        border-color: #bbb
        border-top-color: #ccc
        box-shadow: 0 1px 1px #e9e9e9

span.title-in-organization
        color: grey


div.container .select2-container-multi .select2-choices
        border: none !important
        background-image: none !important

.help-block
    color: #888
    font-style: italic
    padding-left: 1.5rem
    strong
        color: #800

div.bottom-page-buttons
    float: right
    margin-top: 40px

.required
    font-weight: bold
    color: dark_red

.contact-menu
.organization-menu
    a
        padding-right: 1rem

.center
    text-align: center

.reminder-callout
    color: #cc0000


.true
    color: color_true

.false
    color: color_false

div.fac-version
    text-align: right
    color: #ccc
    font-size: 1rem

@media (max-width: 1023px)
    div.container
        padding-left: 1rem
        padding-right: 1rem
    


