{% load staticfiles app_version %}
<!DOCTYPE html>
<html dir="ltr" class="django-site">
  <head>
      <meta charset="utf-8">
      <title>{% block title %}Site{% endblock title %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="{% page_attribute 'meta_description' %}" />
      {% block meta_description %}{% endblock meta_description %}

      <!--
      <link href="{% static 'tagulous/lib/select2-3/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
      <link href="{% static 'djangocms_text_ckeditor/css/cms.ckeditor.css' %}" type="text/css" media="all" rel="stylesheet" />
      <script defer type="text/javascript" src="{% static 'djangocms_text_ckeditor/js/cms.ckeditor.js' %}" async></script>
      -->
      <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
      <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
      <!-- for CookieLaw -->
      <link rel="stylesheet" href="{% static 'cookielaw/css/cookielaw.css' %}?v={{ 0| get_app_version }}">
      
      <link rel="stylesheet" href="{% static 'foundation/css/project.min.css' %}?v={{ 0| get_app_version }}">
      <link rel="stylesheet" href="{% static 'css/project.min.css' %}?v={{ 0| get_app_version }}">

      <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
      
      <script defer src="{% static 'font_awesome_5/js/brands.js' %}" async></script>
      <script defer src="{% static 'font_awesome_5/js/light.js' %}" async></script>
      <script defer src="{% static 'font_awesome_5/js/regular.js' %}" async></script>
      <script defer src="{% static 'font_awesome_5/js/solid.js' %}" async></script>
      <script defer src="{% static 'font_awesome_5/js/v4-shims.js' %}" async></script>
      <script defer src="{% static 'font_awesome_5/js/all.js' %}" async></script>
      <script defer src="{% static 'font_awesome_5/js/fontawesome.js' %}" async></script>

      <!-- Needed by FontAwesome to avoid big svg issue -->
      <link href="{% static 'font_awesome_5/css/svg-with-js.css' %}" rel="stylesheet"></link>

      <!-- <script src="{% static 'foundation/js/vendor/jquery.js' %}" ></script>-->
      <script src="{% static 'foundation/js/vendor/what-input.js' %}"></script>
      <script src="{% static 'foundation/js/vendor/foundation.js' %}"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
            
      {# WEBIX #}
      <link rel="stylesheet" href="{% static 'webix/webix.css' %}">
      <script src="{% static 'webix/webix.js' %}" async></script>
      {# /WEBIX #}
      
      <link rel="icon" type="image/png" href="{% static 'favicon/favicon.png' %}?v=1" />
      <!-- render css -->
      {% render_block "css" %}

      <script src="{% static 'js/app.js' %}"></script>

      <!-- render head -->
      {% render_block "head" %}
      {% render_block "extrahead" %}
  </head>
  
  <body class="django-site">
    {% cms_toolbar %}

    {% block body %}
    {% endblock body %}

    <!-- render js -->
    {% render_block "js" %}
  
    <!-- for CookieLaw -->
    <script src="{% static 'cookielaw/js/cookielaw.js' %}" async=""></script>
    
    <!-- for Django-CMS refreshing in admin mode -->
    {% if request.toolbar and request.toolbar.edit_mode_active %}
    <script type="text/javascript">
      CMS.$(window).on('cms-content-refresh', function () {
          /* For foundation javascript elements */
          $(document).foundation();
      });
    </script>
    {% endif %}

    <script type="text/javascript">
      $( document ).ready(
          function() {
              $(document).foundation();
              
              if ('{% get_static_placeholder_child_pks "popup_alerts" %}' != '') {
                  if (getCookie('djcms_popup_{% get_static_placeholder_child_pks "popup_alerts" %}') != 'closed')
                  {
                      $('#popup-alerts').foundation('open');
                  };
              };

              // When document is ready, show html
              document.getElementsByTagName("html")[0].style.visibility = "visible";
              
          }
      );  
    </script>
    
    
    {% static_placeholder "tracking_code" %}
  </body>
</html>

