{% extends 'base.html' %}
{% load i18n admin_static %}
{% block content %}
<h3>Changement de mot de passe</h3>
<div class="ANstyle">
  {% if validlink %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored " type="submit" value="submit">Envoyer</button>
    </div>
  </form>
  {% else %}
  <p>Ce lien de changement de mot de passe n'est plus valide.<br>
    <a href="{% url 'accounts:password_reset' %}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" role="button">Mot de passe oublié ?</a>
</p>
  {% endif %}
</div>
{% endblock %}
