{% load i18n %}
{% autoescape off %}
{% blocktrans %}
<html>
<p>Hello,</p>

<p>A password change request has been issued for your account.</p>

<p>If this demand is comming from you, please follow the following link to set a new password:<br>
{% endblocktrans %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% blocktrans %}
</p>

<p>Regards,<br>
  The team.
  </p>
</html>
{% endblocktrans %}
{% endautoescape %}
