{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{{ request.site.name }} - {% page_attribute 'title' %}{% endblock title %}

{% block body %}
    <div class="all-content grid-container">

      <p><a class="show-on-focus" href="#mainContent">Aller au contenu</a></p>

      {% block header %}
      <!-- HEADER -->
      <div class="grid-x header-content">
        <div class="medium-12 large-12 small-12 cell">
          {% cookielaw_banner %}
        </div>
        <div class="medium-12 large-12 small-12 cell">
          <header class="line">
            <a href="/">
              {% static_placeholder "header" %}
            </a>
          </header>
        </div>
      </div>
      <!-- /HEADER -->
      {% endblock header %}
      
      <!-- MAIN -->
      <div class="grid-x grid-margin-x">
   
        <div class="main-content medium-12 large-12 small-12 cell">
          
          {% block menu %}
          <!-- MENU -->
          <div class="navigation">
            <div class="grid-x grid-margin-x">
              <div class="medium-11 large-11 small-11 cell">
                <ul class="dropdown menu" data-dropdown-menu>
                  {% show_menu 0 100 100 100 "includes/menu_child.html" %}
                </ul>
              </div>
              <div class="medium-1 large-1 small-1 cell">
                {% static_placeholder "social" %}                
              </div>
            </div>
          </div>
          <div class="cleaner"></div>
          <!-- /MENU -->
          {% endblock menu %}
          
        
          {% block breadcrumb %}
          {% endblock breadcrumb %}
      
          
          <!-- POPUP -->
          <!--googleoff: all-->
          <div id="popup-alerts" class="reveal popup-alerts" data-reveal>
            <div class="grid-x grid-margin-x">
              <div class="medium-12 large-12 small-12 cell">
                <!--<div class="title" id="popup-title">{% trans "Informations importantes" %} ! </div>-->
                <div class="content">
                  {% static_placeholder "popup_alerts" %}
                  <div>
                    <button class="close-button" data-close aria-label="Fermer le popup" type="button" onClick="$('#popup-alerts').foundation('close');setCookie('djcms_popup_{% get_static_placeholder_child_pks "popup_alerts" %}','closed', 30); return true;">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- script in jquery.ready -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--googleon: all-->
          <!-- /POPUP -->


          
          {% block page_title_blk %}
          {% endblock page_title_blk %}

          <div class="hide" id="mainContent" tabindex="-1"></div>
          {% block content %}
          {% placeholder "content" %}
          {% endblock content %}
          
        </div>
      </div>
      <!-- /MAIN -->

      {% block footer %}
      <!-- FOOTER -->
      <div class="grid-x footer-content">
        <div class="medium-12 large-12 small-12 cell">
          <footer class="line">
            {% static_placeholder "footer" %}
          </footer>
        </div>
      </div>
      <!-- /FOOTER -->
      {% endblock footer %}

    </div>
{% endblock body %}
